.conditionWrapper,
.solutionWrapper {
  border: 1px dotted #222222;
  padding: 12px;
  border-radius: 8px;
}

.title {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4;
  color: #222222;
  margin-bottom: 10px;
}

.solutionWrapper {
  margin-top: 30px;
}

.catalog {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #ffffff;
  box-sizing: border-box;
}
