.tasksAssignmentForm {
border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  color: #1f2028;
}

.title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.4;
  color: #222222;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
