.label {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  color: #222222;
}

.input {
  background-color: transparent;
  color: #222222;
  border: 1px solid #222222;
  border-radius: 6px;
  min-height: 24px;
  font-size: 16px;
  font-weight: 500;
}

.errorMessage {
  color: red;
}

.resultWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: #1f2028;
}

.resultWrapper p {
  margin: 0;
}
